.footer {
  background-color: #151622;
  color: rgb(219,219,219);
  padding: 40px 20px;
  margin-top: 100px;
  
}

.footer__container {
  display: flex;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
 
}

.footer__info {
  max-width: 300px;
}

.footer__logo {
  width: 120px;
  margin-bottom: 10px;
}

.footer__description {
  font-size: 12px;
  margin-bottom: 20px;
}

.footer__socials {
  display: flex;
  gap: 10px;
}

.footer__social-link img {
  width: 24px;
  height: 24px;
}

.footer__nav,
.footer__links,
.footer__platforms {
  min-width: 180px;
}

.footer__title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer__list {
  list-style: none;
  padding: 0;
}

.footer__item {
  margin-bottom: 8px;
}

.footer__item_img{
  width: 30px;
  height: 20px;
  margin-right: 10px;
}

.footer__link {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s;
}

.footer__link:hover {
  color: #1866aa;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  padding-left: 95px;
  padding-right: 95px;
 
  border-top: 1px solid #333;
  padding-top: 10px;
  margin-top: 20px;
  font-size: 12px;
}

@media(max-width: 426px){
  .footer__container{
    flex-direction: column;
   justify-content: center;
    margin: 0;
    padding: 0;
  }

  .footer__socials{
    justify-content: center;
    margin-bottom: 10px;
  }
}