/* Основні стилі для заголовка */
.site-header {
  
    background-color: #ffffff; /* або інший колір фону */
    padding: 10px 0;
    border-bottom: 1px solid #e1e1e1; /* тонка лінія під заголовком */
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo img {
    height: 150px;
}

.main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.main-nav ul li {
    margin: 0 15px;
}

.main-nav ul li a {
    text-decoration: none;
    color: #e6d7d7;
    font-weight: bold;
    transition: color 0.3s ease;
}

.main-nav ul li a:hover {
    color: #007bff;
}

.cta-button a {
    background-color: #1cd1bc;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button a:hover {
    background-color: #0056b3; 
}

/* Адаптивність*/

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: flex-start;
    }

    .main-nav ul {
        flex-direction: column;
        width: 100%;
    }

    .main-nav ul li {
        margin: 5px 0;
    }

    .cta-button {
        margin-top: 10px;
    }
}
.features-section {
  font-size: 28px;
  font-weight: bold;
  background: 
  linear-gradient(rgba(0, 44, 74, 0.9), rgba(0, 44, 74, 0.9)),
  url('//res2.weblium.site/res/6554b83cf9e5500010a0c6b9/655dfb8ad58255000ede5ecb') center/cover no-repeat fixed;
    background-size: cover;
    background-position: center;
    padding: 80px;
    text-align: center;
    color: rgb(248, 246, 246);
  }
  

  .features-section h3 {
    margin: 10px 0;
  }
  .underlined-text {
    display: inline-block;
    border-bottom: 3px solid #a7843c;
    padding-bottom: 5px;
  }
  

.features-grid {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

.feature-item {
    background: rgb(242, 237, 237);
    padding: 30px;
    border-radius: 10px;
    width: 30%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.feature-item:hover {
    transform: translateY(-5px);
}

.feature-item img {
    width: 80px;
    height: 80px;
    margin-bottom: 5px;
}

.feature-item h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #222;
}

.feature-item p {
    font-size: 1.2rem;
    color: #b35959;
}

/* Адаптивність */
@media (max-width: 768px) {
    .features-grid {
        flex-direction: column;
        align-items: center;
    }

    .feature-item {
        width: 90%;
    }
}
.three-sections {
  display: flex;
  justify-content: space-between; /* Відстань між секціями */
  align-items: stretch; /* Всі секції будуть однакової висоти */
  gap: 10px; /* Відстань між секціями */
  padding: 20px;
}

/* Стиль для кожної секції */
.section-block {
  font-size: 24px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Aligns content to the top of the container */
  flex: 1;
  padding: 30px;
  background-color: transparent;
  text-align: left; /* Ensures text is aligned left */
  color: white;
  max-width: 400px;
  margin: 0 auto; /* Centers the block */
}

/* Зображення в секціях */
.section-block img {
  width: 150px; /* Зменшене зображення */
  height: auto;
  margin-bottom: 15px;
  border: none;
  box-shadow: none;
}

/* Параграфи в секціях */
.section-block p {
  font-size: 1.2rem;
  color: white;
}

/* Стилі для подкастів */
.podcast-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.podcast-links ul {
  list-style: none;
  padding: 0;
}

.podcast-links ul li {
  display: flex;
  align-items: center;
}

.podcast-links img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.podcast-links a {
  text-decoration: none;
  color: #dfc2c2;
  font-size: 1rem;
}

.podcast-links a:hover {
  color: #fff;
  transform: scale(1.05);
}

.first-group {
  margin-bottom: 20px;
}

.second-group {
  margin-top: 20px;
}

/* Розміри іконок */
.podcast-links img {
  width: 15px !important;
  height: 15px !important;
  margin-bottom: 1px;
}

  
  /* Картинка */
  .image-section {
    padding: 0;  /* Вимикає відступи для точного центрування */
    width: 100%;  /* Займає всю ширину екрану */
    height: 100vh;  /* Висота контейнера — 100% висоти екрану */
    display: flex;  /* Використовуємо flexbox для центрування */
    justify-content: center;  /* Центруємо по горизонталі */
    align-items: center;  /* Центруємо по вертикалі */
    background-color: #f9f9f9;  /* Фон для контейнера */
  }
  
  .image-section img {
    max-width: 100%;
    max-height: 100%; 
    object-fit: contain;  
  }
  




/* Адаптивність для мобільних пристроїв */
@media screen and (max-width: 768px) {
  .section-image {
    max-width: 90%;
    margin: 0 auto;
  }

}

  
  
  