.background-fixed::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background: 
        linear-gradient(rgb(0, 33, 54), rgba(0, 44, 74, 0.9)),
        url('//res2.weblium.site/res/6554b83cf9e5500010a0c6b9/655dfb8ad58255000ede5ecb') center/cover no-repeat fixed;
}


.highlight-star {
  color: #FF7433;
  font-size: 38px;
}

.divider {
  grid-column: 1 / -1;
  margin: 20px 0;
}
.comment-section .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.comment-section {
    font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
    padding: 0 32px;
}
.image-container {
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    min-width: 80px;
}

.logo-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: 50% 50%;
    border-radius: 50%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Контейнер для тексту і автора */
.text-comment {
    display: flex;
    flex-direction: column; /* Текст і автор у стовпчик */
    gap: 10px; /* Відстань між текстом і автором */
}

.left-comment, .right-comment {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 55px;
}
.text-comment span {
    font-size: 16px;
    color: #ffffff; /* Колір тексту (налаштуй) */
}

.author p {
    margin: 0;
    font-weight: bold;
    color: #ffffff; /* Колір автора (налаштуй) */
}

.photo-with-text {
    display: flex;
    gap: 15px;
    align-items: flex-start;
  }
/* Зовнішній контейнер */
.comment-wrapper {
    display: flex; /* Горизонтальне розміщення блоків */
    justify-content: space-between; /* Текст по обидва боки */
    align-items: flex-end; /* Вирівнювання по верху */
    max-width: 1200px; /* Обмеження ширини */
    margin: 0 auto; /* Центрування */
    padding: 20px; /* Внутрішні відступи (опціонально) */
}

/* Блок із зірочкою і текстом */
.warm-words {
    display: flex;
    flex-direction: column; /* Зірочка над текстом */
    align-items: flex-start; /* Вирівнювання зліва */
    gap: 5px; /* Відстань між зірочкою і текстом */
}
.warm-text-words {
    font-size: 18px;
    color: #ffffff; /* Колір тексту (налаштуй) */
}

/* Блок із коментарем */
.warm-comment {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
    max-width: 50%;
}

/* Стилі для тексту */
.warm-comment-text {
    font-size: 21px;
    color: #ffffff; 
    text-align: justify;
    padding: 0 15px;
}


.divider {
    border: 0;
    height: 1px;
    background-color: #ccc;
    margin: 20px 0;
}

.text-comment em {
    color: white;
}